@media (max-width: 992px) {
  .app .bg-decoration {
    display: none;
  }
  .char__content {
    grid-template-columns: 2fr 1.5fr;
  }
  .char__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .char__item {
    padding: 0;
    width: 300px;
    height: 350px;
    & img {
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 300px;
      transform: none;
    }
    .char__name {
      padding: 10px;
    }
  }
  .char__basics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & img {
      width: 250px;
      height: 250px;
    }
    &div {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (max-width: 768px) {
  .char__content {
    grid-template-columns: 1fr 1fr;
  }
  .char__grid {
    grid-template-columns: 1fr;
  }
  .char__info {
    width: 80%;
  }
  .char__item {
    width: 100%;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 340px) {
}
